.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

#map { height: 400px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

p {
  margin: 1.6em 1.6em 0 10px;
  line-height: 1.6em;
}



